@font-face{
    font-family: komika;
    src: url(../assets/fonts/KOMTITA_.ttf);
}

*{
	margin: 0;
	padding: 0;
}

body{
	font-family: komika,serif;
	background: #333;
	color: #fff;
	height: 100%;
}

.navbar{
	position: fixed;
	top: 0;
	z-index: 1;
	width: 100%;
}

.navbar ul{
	display: flex;
	list-style: none;
	width: 100%;
	justify-content: right;
	margin-right: 15px;
}

.navbar ul li{
	margin: 0 1rem;
	padding: 1rem;
}

.navbar ul li a{
	text-decoration: none;
    display: inline-block;
	text-transform: uppercase;
	color: #fff;
    transition: .6s ease-in-out;
}

.navbar ul li a:hover{
    transform: scale(1.1) rotate(-10deg);
    color: #f0f;
}

#navbar-menu{
    background: url(../assets/textures/navbar.png) no-repeat right -0.5rem;
	background-size: 50% 100%;
    height: 80px;
	margin-top: -150px;
	display: flex;
	justify-content: center;
}

#navbar-logo{
	display: inline-block;
	z-index: 1;
}

#navbar-logo img{
	scale: 0.9;
    transition: .4s ease-in-out;
}

#navbar-logo img:hover {
    transform: scale(1.1);
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
	height: 100%;
}

#button-play{
	border: 5px solid #000;
	text-decoration: none;
    border-radius: 30px;
    background-color:  yellow;
	color: #472800;
    font-family: komika,serif;
	text-align: center;
	font-size: 1rem;
	height: 50%;
    width: 7%;
	padding-top: 0.50rem;
	margin-top: 3px;
    z-index: 1;
    display: block;
    transition: .2s ease-in-out;
}

#button-play:hover{
	transform: scale(1.05);
	background-color: #f0f;
	color: #fff;
}

section p{
	font-size: 1.5rem;
}

section#home{
	background: url(../assets/textures/main6.jpg) no-repeat center center/cover;
}

section#sobre{
	background: url(../assets/textures/main5.jpg) no-repeat center center/cover;
}