@font-face{
    font-family: komika;
    src: url(../assets/fonts/KOMTITA_.ttf);
}

*{
	margin: 0;
	padding: 0;
}

body{
	font-family: komika,serif;
	background: #333;
	color: #fff;
	height: 100%;
}

.navbar{
	position: fixed;
	top: 0;
	z-index: 1;
	width: 100%;
}

.navbar ul{
	display: flex;
	list-style: none;
	width: 100%;
    justify-content: right;
}

.navbar ul li{
	margin: 0 1rem;
	padding: 1rem;
}

.navbar ul li a{
	text-decoration: none;
    display: inline-block;
	text-transform: uppercase;
	color: #fff;
    transition: .6s ease-in-out;
}

.navbar ul li a:hover{
    transform: scale(1.1) rotate(-10deg);
    color: #f0f;
}

#navbar-menu{
    background: url(../assets/textures/navbar.png) no-repeat right -0.5rem;
    height: 80px;
}

#navbar-logo img{
	scale: 0.9;
    transition: .4s ease-in-out;
}

#navbar-logo img:hover {
    transform: scale(1.1);
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
	height: 100%;
}

section p{
	font-size: 1.5rem;
}

section#home{
	background: url(../assets/textures/main2.jpg) no-repeat center center/cover;
}

section#sobre{
	background: url(../assets/textures/main-bg.png) no-repeat center center/cover;
}